@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "awesome";
  src: url("../fonts/webfonts/fa-brands-400.eot") format("embedded-opentype"), url("../fonts/webfonts/fa-brands-400.otf") format("opentype"), url("../fonts/webfonts/fa-brands-400.woff") format("woff"), url("../fonts/webfonts/fa-brands-400.woff2") format("woff"), url("../fonts/webfonts/fa-brands-400.ttf") format("truetype"), url("../fonts/webfonts/fa-brands-400.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("../fonts/Gilroy/Gilroy ExtraBold"), local("../fonts/Gilroy/Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Heavy.eot");
  src: local("../fonts/Gilroy/Gilroy Heavy"), local("../fonts/Gilroy/Gilroy-Heavy"), url("../fonts/Gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-LightItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Light Italic"), local("../fonts/Gilroy/Gilroy-LightItalic"), url("../fonts/Gilroy/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ThinItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Thin Italic"), local("../fonts/Gilroy/Gilroy-ThinItalic"), url("../fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-BlackItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Black Italic"), local("../fonts/Gilroy/Gilroy-BlackItalic"), url("../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Bold Italic"), local("../fonts/Gilroy/Gilroy-BoldItalic"), url("../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy/Gilroy SemiBold"), local("../fonts/Gilroy/Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-UltraLightItalic.eot");
  src: local("../fonts/Gilroy/Gilroy UltraLight Italic"), local("../fonts/Gilroy/Gilroy-UltraLightItalic"), url("../fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBoldItalic.eot");
  src: local("../fonts/Gilroy/Gilroy SemiBold Italic"), local("../fonts/Gilroy/Gilroy-SemiBoldItalic"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: local("../fonts/Gilroy/Gilroy Light"), local("../fonts/Gilroy/Gilroy-Light"), url("../fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("../fonts/Gilroy/Gilroy-MediumItalic"), url("../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot");
  src: local("../fonts/Gilroy/Gilroy ExtraBold Italic"), local("../fonts/Gilroy/Gilroy-ExtraBoldItalic"), url("Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/");
  src: local("../fonts/Gilroy/Gilroy Regular"), local("../fonts/Gilroy/Gilroy-Regular"), url("../fonts/Gilroy/?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-HeavyItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Heavy Italic"), local("../fonts/Gilroy/Gilroy-HeavyItalic"), url("../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy/Gilroy Medium"), local("../fonts/Gilroy/Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.eot");
  src: local("../fonts/Gilroy/Gilroy Regular Italic"), local("../fonts/Gilroy/Gilroy-RegularItalic"), url("../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-UltraLight.eot");
  src: local("../fonts/Gilroy/Gilroy UltraLight"), local("../fonts/Gilroy/Gilroy-UltraLight"), url("../fonts/Gilroy/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy/Gilroy Bold"), local("../fonts/Gilroy/Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Thin.eot");
  src: local("../fonts/Gilroy/Gilroy Thin"), local("../fonts/Gilroy/Gilroy-Thin"), url("../fonts/Gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Black.eot");
  src: local("../fonts/Gilroy/Gilroy Black"), local("../fonts/Gilroy/Gilroy-Black"), url("../fonts/Gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.b-active {
  color: #e3c5aa !important;
}

body {
  font-family: "Gilroy";
  background-image: url(../images/bg.png);
}
body header {
  font-weight: 500;
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}

.b-header {
  background-image: url(../images/Rectangle44.svg);
}

nav .b-collapse {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
nav .b-navbar-nav {
  margin-left: 240px;
}
nav .b-navbar-nav .b-nav-item:first-child {
  margin-left: 0;
}
nav .b-navbar-nav .b-nav-item {
  margin-left: 30px;
}
nav .b-navbar-nav .b-nav-item .b-nav-link {
  font-weight: 500;
  color: #2F383E;
  font-size: 18px;
}
nav .b-navbar-nav .b-nav-item .b-nav-link:hover {
  color: #F99C45;
}
nav .b-social {
  margin-left: 55px;
}
nav .b-social .b-social-network:first-child {
  margin-left: 0;
}
nav .b-social .b-social-network {
  margin-left: 30px;
}
nav .b-social .b-social-network .b-social-pages {
  text-decoration: none;
  color: #e3c5aa;
}
nav .b-social .b-social-network .b-social-pages:hover {
  color: #F99C45;
}

.b-banner {
  font-family: "Gilroy";
  font-weight: 500;
  color: #e3c5aa;
  font-size: 18px;
  margin-top: 30px;
}
.b-banner .b-title nav .b-breadcrumb a {
  text-decoration: none;
  color: #e3c5aa;
  font-size: 18px;
}
.b-banner .b-title nav .b-breadcrumb .active {
  color: #F99C45;
}
.b-banner .b-title nav .b-breadcrumb-item::before {
  color: #e3c5aa;
}
.b-banner .b-title h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: #2f383e;
}
.b-banner .b-dividors {
  margin-top: 25px;
}
.b-banner .b-dividors .b-linear:first-child {
  width: 106px;
  height: 3px;
  background-color: #e3c5aa;
}
.b-banner .b-dividors .b-linear {
  width: 200px;
  height: 3px;
  background-color: #e3c5aa;
  margin: 1px 5px;
}
.b-banner .b-dividors .b-oval {
  width: 20px;
  height: 6px;
  background-color: #e3c5aa;
  border-radius: 10px;
}
.b-banner .b-search-hotels {
  margin-top: 20px;
}
.b-banner .b-search-hotels p {
  color: #2f383e;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.b-banner .b-search-puncts {
  margin-top: -5px;
}
.b-banner .select {
  width: 270px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 10px;
  border: none;
  background-image: url(../images/Polygon3.png);
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position-x: 225px;
  background-position-y: 50%;
  border-radius: 7px;
  margin-left: 5px;
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.b-banner input {
  padding-left: 15px;
  width: 220px;
  padding-bottom: 11px;
  padding-top: 11px;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.06);
}
.b-banner input::-webkit-input-placeholder {
  color: #e3c5aa;
}
.b-banner input::-moz-placeholder {
  color: #e3c5aa;
}
.b-banner input:-ms-input-placeholder {
  color: #e3c5aa;
}
.b-banner input::-ms-input-placeholder {
  color: #e3c5aa;
}
.b-banner input::placeholder {
  color: #e3c5aa;
}
.b-banner button {
  color: #f99c45;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 24px;
  border: none;
  padding-bottom: 11px;
  padding-top: 11px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(47.4%, #f9f9f9), to(#eeeff5));
  background: linear-gradient(180deg, #ffffff 0%, #f9f9f9 47.4%, #eeeff5 100%);
  -webkit-box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
}

.b-hotels-cards:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
}

.b-hotels-cards {
  background: radial-gradient(67.04% 67.04% at 52.62% 61.84%, #FBF3D7 54.35%, #F6EBCC 100%), -webkit-gradient(linear, left bottom, left top, from(#C4C4C4), to(#C4C4C4));
  background: radial-gradient(67.04% 67.04% at 52.62% 61.84%, #FBF3D7 54.35%, #F6EBCC 100%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
  margin-top: 35px;
  border-left: 15px solid;
  border-right: 15px solid;
  -o-border-image: url(../images/border-cards.png) 15 round round;
  border-image: url(../images/border-cards.png) 15 round round;
  position: relative;
}
.b-hotels-cards .b-cards-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.b-hotels-cards i.fas, .b-hotels-cards i.far {
  color: #F99C45;
}
.b-hotels-cards i.fa-plane {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.b-hotels-cards span {
  margin-right: 5px;
}
.b-hotels-cards .b-hotels-cards-header {
  text-align: center;
  -o-border-image: url(../images/border-cards-top.png) 15 round round;
  border-image: url(../images/border-cards-top.png) 15 round round;
  border-top: 15px solid;
}
.b-hotels-cards .b-hotels-cards-header p {
  font-weight: 500;
  font-size: 18px;
  color: #2F383E;
  text-align: left;
  margin-left: 20px;
  font-style: normal;
  margin-top: 10px;
}
.b-hotels-cards ul {
  margin-left: -10px;
}
.b-hotels-cards ul li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.b-hotels-cards ul li:first-child {
  margin-left: 3px;
}
.b-hotels-cards .b-hotels-cards-footer {
  -o-border-image: url(../images/border-cards-top.png) 15 round round;
  border-image: url(../images/border-cards-top.png) 15 round round;
  border-bottom: 15px solid;
  margin-top: 35px;
}
.b-hotels-cards .b-hotels-cards-footer p {
  margin-left: 20px;
}
.b-hotels-cards .b-hotels-cards-footer .b-hotels-about {
  margin-left: 20px;
}
.b-hotels-cards .b-hotels-cards-footer .b-hotels-about a {
  color: #F99C45;
  font-size: 14px;
  font-weight: 400;
}
.b-hotels-cards .b-col {
  margin-top: -20px;
}

.b-page-link {
  color: #2F383E;
}

.b-page-link {
  background-color: inherit;
  border: none;
}

.b-page-item.first, .b-page-item.last {
  background-color: inherit;
}

.b-page-item {
  background-color: #fff;
  margin: 0 5px;
}
.b-page-item i.fas {
  color: #F99C45;
}

.b-pagination {
  margin-top: 40px;
  margin-left: 21%;
}

footer {
  margin-top: 130px;
  height: 90px;
  background-image: url(../images/bg-footer.png);
}
footer .b-footer-info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
}
footer .b-footer-info .b-footer-logo a {
  text-decoration: none;
  color: #fff;
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
footer .b-footer-info-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}